
.pt-full-20{
    padding-top: 11%;
}

.pt-full-20-terminaciones{
    padding-top: 22%;
}

.interlineado-1{
    line-height: 22px;
}

.interlineado-2{
    line-height: 42px;
}

.interlineado-3{
    line-height: 65px;
}

.espaciado{
    margin-right: 3px;
}

.pt-60{
    padding-top: 60px;
}

.vertical-align{
    vertical-align: top;
}

.direccion{
    display: flex;
    align-items: flex-end;
}

.orientacion{
    transform: rotate(-90deg);
    margin-left: 13%;
}

.master-plan{
    margin-left: -50%;
}

.m-negativo{
    margin-left:-50px;
}

.c-ver{
    display: block;
    text-align: center;
}


.pt-full-34{
    padding-top: 34%;
   }

.pr-10{
padding-right: 10px;
}


.ml-30{
    margin-left: 30px;
}

.mr-30{
    margin-right: 30px;
}

.alinea-t-i{
    vertical-align: middle;
}

.fs-14{
    font-size: 14px; 
}
